<!-- preferences.html -->
<form id="preferences-form">
    <label for="image-source">Afbeeldingen Bron:</label>
    <select id="image-source">
        <option value="lorem">Lorem Picsum</option>
        <option value="dogs">DogAPI</option>
        <option value="cats">CATAAS</option>
    </select>

    <label for="closed-color">Gesloten Kaarten Kleur:</label>
    <input type="color" id="closed-color" />

    <label for="found-color">Gevonden Kaarten Kleur:</label>
    <input type="color" id="found-color" />

    <label for="email">E-mailadres:</label>
    <input type="email" id="email" />

    <button type="submit">Opslaan</button>
</form>
